<div class="row">
  <div class="col-10 row background-color-index justify-content-center g-0 ps-2">
    <% @conspiracies.each do |conspiracy| %>
      <div class="card-product col-11 mx-3 my-3 p-3"> <!-- removed `row` -->
        <a href="<%= conspiracy_path(conspiracy) %>" class="card-trip-link" aria-label="Open"></a>

        <div class="card-content">
          <h3><%= link_to conspiracy.title, conspiracy_path(conspiracy) %></h3>
          <p><%= conspiracy.content %></p>
        </div>

        <div class="votes">
          <%= link_to conspiracies_path, class: "btn btn-secondary vote-btn w-100" do %>
            <%= conspiracy.comments.count %>
            <i class="fa-solid fa-comments fa-lg"></i>
          <% end %>
          <%= render "shared/vote_btn", conspiracy: conspiracy %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-2 side-bar">
    <%= link_to "Add a New Conspiracy", new_conspiracy_path, class: "btn btn-secondary mx-3 my-3 new-conspiracy-btn add-button" %>
  </div>
</div>
<%# <%= link_to "Create a New Conspiracy", new_conspiracy_path, class: "btn btn-primary mx-3 mt-3" %>
<%# <%= link_to "Create a New Conspiracy", new_conspiracy_path, class: "btn btn-primary mx-3 mt-3" %>
