<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.thetimes.com/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F99fb9468-4b44-406d-a4c2-5646791b6367.jpg?crop=1600%2C900%2C0%2C0&format=webp&resize=1500)">
  Parano-AI-c
</div>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="conspir-ai-cy.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <!-- Show when logged in -->
          <li class="nav-item active">
            <%= link_to "My Page", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: "nav-link" %>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          </div>
        </li>
      <% else %>
        <!-- Show when logged out -->
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
        <li><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>

<div class="row d-flex flex-row">
  <div class="col-10 background-color-index">
    <% @conspiracies.each do |conspiracy| %>
      <div class="card-product mx-3 my-3 px-3 py-3 d-flex justify-content-between">
        <div>
          <h3><%= link_to conspiracy_path(conspiracy) do %>
              <%= conspiracy.title %></h3>
          <% end %>
          <p><%= conspiracy.content%> </p>
        </div>
      <div class="d-flex flex-column">
        <%= render "shared/vote_btn", conspiracy: conspiracy %>
      </div>
      </div>
    <% end %>
  </div>
</div>

  <div class="col">
    <%= link_to "Add a New Conspiracy", new_conspiracy_path, class: "btn btn-secondary mx-3 my-3 new-conspiracy-btn" %>
  </div>
</div>
<%# <%= link_to "Create a New Conspiracy", new_conspiracy_path, class: "btn btn-primary mx-3 mt-3" %>
