<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand" href="#">
        <%= image_tag "conspir-ai-cy.png", alt: "paranoaic", width: 200 %>
      </a>
      <div class="mt-2 mb-0">
        <h5>Parano-AI-c</h5>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <!-- Show when logged in -->
          <li class="nav-item active">
            <%= link_to "My Page", user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path,
                        data: { turbo_method: :delete },
                        class: "nav-link" %>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          </div>
        </li>
      <% else %>
        <!-- Show when logged out -->
        <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
        <li><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</div>
</div>
<div class="row">
  <div class="col-10 row background-color-index justify-content-center g-0 ps-2">
    <% @conspiracies.each do |conspiracy| %>
      <div class="card-product col-11 row mx-3 my-3 px-3 py-3">
        <div class="col-10 justify-content-between d-flex flex-column">
          <h3>
            <%= link_to conspiracy_path(conspiracy) do %>
              <%= conspiracy.title %>
            <%end%>
          </h3>
          <p><%= conspiracy.content%> </p>
        </div>
        <div class="col-2 votes mb-3 d-flex flex-column align-items-center">
          <%= link_to conspiracies_path, class: "btn w-100" do %>
            <%= conspiracy.comments.count %> <i class="fa-solid fa-comments fa-rotate-by fa-lg" style="color: #ff5c42; --fa-rotate-angle: 2259266deg;"></i>
          <% end %>
          <%= render "shared/vote_btn", conspiracy: conspiracy %>
          <%= link_to "", root_path(conspiracy), class: "card-trip-link" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-2 side-bar">
    <%= link_to "Add a New Conspiracy", new_conspiracy_path, class: "btn btn-secondary mx-3 my-3 new-conspiracy-btn add-button" %>
  </div>
</div>
<%# <%= link_to "Create a New Conspiracy", new_conspiracy_path, class: "btn btn-primary mx-3 mt-3" %>
<%# <%= link_to "Create a New Conspiracy", new_conspiracy_path, class: "btn btn-primary mx-3 mt-3" %>
