<h1><%= @conspiracy.title %></h1>

<div class="container">
  <div class="conspiracy_title">
    <%= @conspiracy.title %>
  </div>
  <div class="conspiracy content">
    <%= @conspiracy.content %>
  </div>
  <div class="conspiracy_author">
    <p>Created by: <%= @conspiracy.user.user_name %></p>
  </div>

</div>
<%= render "vote_btn", conspiracy: @conspiracy %>
