<div class="container d-flex justify-content-center">
  <div class="card-product mx-3 my-3 px-3 py-3 h-100 w-100 flex-column">
    <h1><%= @conspiracy.title %></h1>
    <div class="conspiracy_title">
      <%= @conspiracy.title %>
    </div>
    <div class="conspiracy content">
      <%= @conspiracy.content %>
    </div>
    <div class="conspiracy_author">
      <p>Created by: <%= @conspiracy.user.user_name %></p>
    </div>
  </div>
  <div class= "vote d-flex">
    <%= render "vote_btn", conspiracy: @conspiracy %>
  </div>
</div>
<%= link_to "My Page", user_path(current_user), class: "nav-link btn btn-primary" %>
<%= link_to "Home Page", conspiracies_path(@conspiracies), class: "nav-link btn btn-primary" %>
