<div class="container d-flex justify-content-center">
  <div class="card-product mx-3 my-3 px-3 py-3 h-100 w-100 flex-column">
    <h1><%= @conspiracy.title %></h1>
    <div class="conspiracy_author text-end">
      <h3> Created by - <%= (@conspiracy.user.user_name).capitalize %></h3>
    </div>
    <div class="conspiracy content">
      <%= @conspiracy.content %>
      <div class= "vote d-flex">
        <%= render "shared/vote_btn", conspiracy: @conspiracy %>
      </div>
      <%# render comment form here %>
      <div class= "comment d-flex">
        <%= render "shared/comment_form", conspiracy: @conspiracy, comment:Comment.new %>
      </div>
      <div id="comments">
        <%= render "shared/comments_section", conspiracy: @conspiracy %>
      </div>
    </div>
  </div>
</div>
